<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Aviator by Swipely</title>

    <link rel='stylesheet' type='text/css' href='//cdnjs.cloudflare.com/ajax/libs/normalize/2.1.0/normalize.css'></link>
    <link rel='stylesheet' type='text/css' href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css'></link>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono|Droid+Serif:400,700,400italic|Limelight|Poiret+One' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' type='text/css' href='/css/main.css'></link>
    <link rel='stylesheet' type='text/css' href='/css/syntax.css'></link>
  </head>
  <body>
    <main>
      <header>
        <div class='column cf'>
          <img src='/img/aviator.png' width=140/>
          <div class='details'>
            <h1>Aviator</h1>
            <h2>Single Page Application Routing</h2>
            <div class='ctas'>
              <a href='https://github.com/swipely/aviator' class='button'>
                <i class='icon-github'></i> View on GitHub
              </a>
            </div>
          </div>
        </div>
      </header>
      <article class='content column'>
        {{ content }}
      </article>
    </main>
  </body>
</html>
